body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.text {
	padding: 250px 0;
	margin: 30px;
  	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  	background-image: url("https://www.mormonchannel.org/bc/content/mormon-channel/images/audio/1600x900/joseph-smith-for-president-episode-64-2011-10-18.jpg");
  	background-size: cover;
  	color: #ffffff;
	font-size: 56px;
}

#footer {
  font-size: 0.75rem;
}
